@keyframes planet-animation {
  0% {
    top: 50vh;
    width: 60vh;
    height: 60vh;    
  }

  100% {
    top: 100vh;
    width: 110vw;
    height: 110vw;
  }
}

.background-planet {
  display: flex;
  justify-content: center;
  width: 100%;
}

.planet-img {
  width: 60vh;
  height: 60vh;
  position: absolute;
  top: 50vh;
  transform: translate(0, -50%);
  margin: 0 auto;
}

.planet-animation {
  animation-name : planet-animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}