.header {
  display: flex;
  justify-content: space-between;
  padding: 16px
}

.logo {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.gnb {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gnb li {
  margin: 0 20px 0 0;
  float: left;
}

.gnb__link {
  color: white;
  text-decoration: none;
}

.active-link {
  color: #FFBE42;
  text-decoration: underline;
}
.search-icon {
  width: 25px;
  height: 25px;
}

.active {
  font-size: 30px;
}